body {
  position: relative;
  color: #484848;
  height: 100vh;
  background-color: #fff;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
}

h2 {
}

h1 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -.025em;
}

p {
  font-size: 14px;
}

li {
  list-style: none;
}

a {
  color: #484848;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}
