li.vertical-spacer:after {
  content: "|";
  color: #e7e7e7;
}

li.disabled {
  pointer-events: none;
  a, a .toolbar-label {
    color: #ccc;
  }
}

li.toolbar-button {
  text-align: center;
  .toolbar-label {
    font-size: x-small;
  }
}