.media-item-checkbox {
  width: 30px;
  display: inline-block;
  position: absolute;
  margin-top: 20px;

  label {
    cursor: pointer;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    background: #eee;
    border:1px solid #ddd;

    &:after {
      opacity: 0.2;
      content: '';
      position: absolute;
      width: 9px;
      height: 5px;
      background: transparent;
      top: 6px;
      left: 7px;
      border: 3px solid #333;
      border-top: none;
      border-right: none;

      transform: rotate(-45deg);
    }
  }

  input[type=checkbox] {
    visibility: hidden;
  }

  input[type=checkbox]:checked + label::after {
    opacity: 1;
  }

  input[type=checkbox]:checked + label:hover::after {
    opacity: 0.5;
  }

}

.media-item-time {
  display: inline-block;
}