ul.subtitle-tools {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-left: 0;

  li {
    margin-right: 25px;
    &:last-child {
      margin-right: 0;
    }
  }

  a {
    color: #b2b2b2;
    &:hover {
      color: #6710fd;
      opacity: 1;
    }
  }
}